footer {
  bottom: 0;
  position: absolute;
  z-index: 10;
  display: flex;
  width: 100%;
  opacity: 1;
  height: 50px;
  background: #f8f8f8;
}
footer .row {
  padding-top: 3px;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  border-top: 1px solid #eee;
}
footer .row a.active {
  text-decoration: none;
  text-transform: none;
}
footer .row a.active span {
  color: rgba(60, 60, 60, 0.7);
}
footer .row a.active .tab-button-icon {
  background-position: 50% 100%;
  background-repeat: no-repeat;
  height: 28px;
  display: block;
  background-size: 30px;
}
footer .row a.active .tab-button-icon.tabhome {
  background-image: url(../../img/action/icon-home-active-tabBar.svg);
}
footer .row a.active .tab-button-icon.tabfuncard {
  background-image: url(../../img/action/icon-funcard-active-tabBar.svg);
}
footer .row a.active .tab-button-icon.tabaccount {
  background-image: url(../../img/action/icon-account-active-tabBar.svg);
}
footer .row a.active .tab-button-icon.tabbooknow {
  background-image: url(../../img/action/icon-booknow-active-tabBar.svg);
}
footer .row a:not(.active) .tab-button-icon.tabhome {
  background-image: url(../../img/action/icon-home-tabBar.svg);
}
footer .row a:not(.active) .tab-button-icon.tabfuncard {
  background-image: url(../../img/action/icon-funcard-tabBar.svg);
}
footer .row a:not(.active) .tab-button-icon.tabaccount {
  background-image: url(../../img/action/icon-account-tabBar.svg);
}
footer .row a:not(.active) .tab-button-icon.tabbooknow {
  background-image: url(../../img/action/icon-booknow-tabBar.svg);
}
